.container-about{
    text-align: center;
    margin-top: 60px;
}
.container-about .title-about{
    font-size: 40px;
    width: 100%;
    height: auto;
    color: white;
}
.container-about .content-about{
    width: 90%;
    transform: translateX(5.5%);
    height: auto;
    display: grid;
}
.container-about .content-about .img{
    transition: .4s;
    text-align: center;
    animation: float 3s ease-in-out infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}
.container-about .content-about .text{
    color: white;
}