.header{
    width: 100%;
}
.header-design{
    width: 100%;
}
.header-design .img-header{
    width: 100%;
    height: 100%;
}
.container-design .content{
    display: flex;
    text-align: left;
    justify-content: center;
    position: absolute;
    z-index: 9;
}
.container-design .static{
    text-align: left;
    color: white;
    font-family: 'Roboto Slab', serif;
}
.container-design .dynamic{
    margin-left: 12px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.container-design .dynamic li{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(left, rgb(138, 43, 226) 10%, rgb(15, 174, 214) 100%);  
    background-image: -webkit-linear-gradient(to right, rgb(138, 43, 226), rgb(15, 174, 214) 100% ); 
    color: transparent;
    text-transform: uppercase;
    list-style: none;
    left: 0;
    top: 0;
    position: relative;
    animation: slide2 6s steps(4) infinite;
}
@keyframes slide2{
    100%{
        top:-360px;
    }
}
.container-design .dynamic li span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 45%;
    left: 0;
    border-left: 3px solid white;
    animation: typing2 1.5s steps(15) infinite;
    background-color:rgb(17, 17, 17);
    margin-top: 25px;

}
@keyframes typing2{
    100%{
        left: 100%;
        margin: 25px -40px 0px 40px;
    }
}
.container-info-header-design{
    height: auto;
    position: absolute;
    z-index: 99;
}
.container-info-header-design .text{
    font-weight: 500;
    color: white;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}
#container-burger{
    position: fixed;
    top: 28px;
    right: 27px;
    cursor: pointer;
    z-index: 999;
}
#container-burger.animation .burger:nth-child(1){
    transform: rotate(-135deg);
    top: 8px;
    position: absolute;
}
#container-burger.animation .burger:nth-child(2){
    opacity: 0;
    transition: 0s;
}
#container-burger.animation .burger:nth-child(3){
    transform: rotate(135deg);
    top: 8px;
    position: absolute;
}
.burger{
    background: -webkit-linear-gradient(left, rgb(138, 43, 226) 10%, rgb(15, 174, 214) 100%);  
    background: -webkit-linear-gradient(to right, rgb(138, 43, 226), rgb(15, 174, 214) 100% ); 
    width: 30px;
    height: 5px;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
    transform-origin: center;
    transition: .5s ease-in-out;
}
input[type="checkbox"]{
    display: none;
}

.menu{
    display: grid;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    transition: .5s;
    z-index: 251;
    position: fixed;
}
.navbar-color{
    background-color: rgb(34, 34, 34);
    transition: .5s;
}
.menu .text{
    text-decoration: none;
    color: white;
    position: relative;
    font-family: 'Raleway', sans-serif;
}
.container-header{
    height: auto;
    z-index: 99;
    position: absolute;
    margin-left: 1px;
}
.container-header .text{
    font-size: 24px;
    color: white;
    margin-top: -10px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}
.container-info-header .content{
    display: flex;
    text-align: left;
    justify-content: center;
    position: absolute;
    z-index: 9;
}
.container-info-header .static{
    text-align: left;
    color: white;
    font-family: 'Roboto Slab', serif;
}
.container-info-header .dynamic{
    margin-left: 12px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.container-info-header .dynamic li{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(left, rgb(138, 43, 226) 10%, rgb(15, 174, 214) 100%);  
    background-image: -webkit-linear-gradient(to right, rgb(138, 43, 226), rgb(15, 174, 214) 100% ); 
    color: transparent;
    text-transform: uppercase;
    list-style: none;
    left: 0;
    top: 0;
    position: relative;
    animation: slide 6s steps(4) infinite;
}
@keyframes slide{
    100%{
        top:-360px;
    }
}
.container-info-header .dynamic li span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 45%;
    left: 0;
    border-left: 3px solid white;
    animation: typing 1.5s steps(15) infinite;
    background-color:rgb(17, 17, 17);
    margin-top: 25px;

}
@keyframes typing{
    100%{
        left: 100%;
        margin: 25px -40px 0px 40px;
    }
}
.container-logo{
    z-index: 252;
    position: fixed;
    height: 80px;
}
.container-logo img{
    margin-top: 2px;
    width: 190px;
    height: 80px;
    margin-left: -2px;
}
.home{
    position: absolute;
    top: 0;
}